:root {
  /* Spacing */
  --size-000: -.5rem;
  --size-00: -.25rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  /* Colors */
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  /* Typography */
  --font-sans: 'Outfit', sans-serif;
  --font--size-base: 15px;
  --font--size-heading: 24px;
  /* Radius */
  --radius-3: 1rem;
  --radius-4: 2rem;
  --radius-5: 4rem;
  --radius-6: 8rem;
  /* Box Shadows  */
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;
  --shadow-1: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
  --shadow-2: 
    0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
  --shadow-3: 
    0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--light-gray);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  place-content: center;
  place-items: center;
}

.card__wrapper {
  max-width: 320px;
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
  text-align: center;
  padding: var(--size-3) var(--size-3);
}

.card__header {
  border-radius: var(--radius-3);
}

.card__title {
  font-size: var(--font--size-heading);
  color: var(--dark-blue);
  font-weight: 700;
  
}

.card__subtitle {
  font-size: var(--font--size-base);
  color: var(--grayish-blue);
  font-weight: 400;
}